<div class="col-12  mt-3">
    <h3 class="mb-3" style="font-size:20px; font-weight:bolder">EDUCATION</h3>

    <div id="carouselEducDark" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-touch="true">
        <div class="carousel-indicators">

            @for (int i = 0; i < userEducation.Count; i++)
            {
                if (i == 0)
                {
                    <button type="button" data-bs-target="#carouselEducDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                }
                else
                {

                    <button type="button" data-bs-target="#carouselEducDark" data-bs-slide-to="@i" aria-label="Slide @(i+1)"></button>

                }

            }
        </div>
        <div class="carousel-inner pb-5">
            @{
                int indexEducation = 0;
            }

            @foreach (var level in userEducation)
            {
                <div class="carousel-item @(indexEducation>0?"":"active")" data-bs-interval="9000">
                    <div class="d-flex justify-content-center  flex-wrap">

                        <div class=" text-center shadow-lg rounded-3 me-2 px-2 my-2 py-2 px-5 mb-2" style="min-width:25%">
                            @if (!level.icon.Contains("//"))
                            {
                                <i class="@level.icon  fs-1"></i>
                            }
                            else
                            {
                                <img src="@level.icon" style="max-height:200px;max-width:200px" />

                            }
                            <p class="fw-bold">@level.establishment </p>
                            <p class="fw-bold">@level?.start_date.Value.ToString("MM/yyyy") - @level?.end_date.Value.ToString("MM/yyyy") </p>
                            <p class="fw-bold text-secondary">@level.Description </p>
                        </div>

                    </div>
                </div>
                indexEducation++;
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEducDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselEducDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>




</div>