<h3 class="mb-3" style="font-size:20px; font-weight:bolder">SKILLS</h3>
<div class="">
    @if (!IsPreview)
    {
        @foreach (var category in Enum.GetValues(typeof(Client.Models.SkillCategory)))
        {
            var categorySkills = userSkills?.Where(skill => skill.category == (int)category).ToList();
            string _category;
            <ul>
                <li>
                    <h4> <strong>@category.ToString()</strong></h4>
                    <div class="container-fluid">
                        @foreach (var skill in categorySkills)
                        {
                            <div class="w-100 ">
                                <input @bind-value=@skill.skill_name class="fw-bold" />
                                <input @bind-value=@skill.skill_desc />
                                <Dropdown>
                                    <DropdownToggle Color="Color.Secondary">
                                        @skill.category
                                    </DropdownToggle>
                                    <DropdownMenu>
                                        @foreach (var _category in Enum.GetValues(typeof(Client.Models.SkillCategory)))
                                        {
                                            <DropdownItem @onclick=@(()=>{skill.category = (int)Enum.Parse(typeof(Client.Models.SkillCategory), _category.ToString()); })>@_category</DropdownItem>
                                        }
                                    </DropdownMenu>
                                </Dropdown>
                            </div>
                            <button class="btn btn-outline-dark me-2" style="max-height:32px" @onclick=@(()=>UpdateSkill(skill))><Icon Name="IconName.Save" /></button>
                            <button class="btn btn-outline-danger me-2" style="max-height:32px" @onclick=@(()=>DeleteSkill(skill))><Icon Name="IconName.Delete" /></button>
                        }
                    </div>
                    <button class="btn btn-outline-dark" @onclick=@(()=>AddSkill(category))> Add a skill <Icon Name="IconName.Add" /></button>
                </li>

            </ul>

        }

    }
    else
    {
        <div id="carouselExampleDark" class="carousel carousel-dark slide"  >
            <div class="carousel-indicators">
                @{
                    int indexBtn = 0;
                }
                @foreach (var category in Enum.GetValues(typeof(Client.Models.SkillCategory)))
                {
                    if (indexBtn == 0)
                    {
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    }
                    else
                    {

                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="@indexBtn" aria-label="Slide @(indexBtn+1)"></button>

                    }
                    indexBtn++;
                }
            </div>
            <div class="carousel-inner pb-5" >
                @{
                    int indexCateg = 0;
                }
                @foreach (var category in Enum.GetValues(typeof(Client.Models.SkillCategory)))
                {
                    string _category;
                    var categorySkills = userSkills?.Where(skill => skill.category == (int)category).ToList();
                    <div class="carousel-item @(indexCateg>0?"":"active")">
                        <h4 class="text-secondary"><strong>@category</strong></h4>
                        <div class="d-flex justify-content-center  flex-wrap">
                            @foreach (var skill in categorySkills)
                            {
                                <div class=" text-center shadow-lg rounded-3 me-2 my-2 pt-2 " style="min-width:25%">
                                    @if (!skill.skill_desc.Contains("//"))
                                    {
                                        <i class="@skill.skill_desc  fs-1"></i>
                                    }
                                    else
                                    {
                                        <img src="@skill.skill_desc" style="max-height:70px;max-width:70px"  />

                                    }
                                    <p class="fw-bold">@skill.skill_name </p>
                                </div>
                            }
                        </div>
                    </div>
                    indexCateg++;

                }

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    }
</div>
