<div class="col-md-6  d-flex flex-column pb-2">
    <h3 class="mb-3" style="font-size:20px; font-weight:bolder; ">WORK EXPERIENCE</h3>
    @foreach (var ex in Experiences)
    {
        <div class="mb-2 d-flex">
            <div>
                @foreach (var experience in @ex.experience)
                {
                    <!--WorkTitle-->
                    @if (experience.IsEditingWorkTitle)
                    {
                        <div class="d-flex">
                            <input type="text" class="fw-bold" @bind-value=@experience.work_title>
                            <InputDate @bind-Value=@experience.start_date />
                            <button class="btn btn-outline-dark btn-sm ms-3" @onclick="@(()=>SaveWorkTitle(experience))"><Icon Name="IconName.Save" /></button>
                        </div>

                    }
                    else
                    {
                        <h5 class="fw-bold">
                            @experience.work_title (@experience?.start_date.Value.Year)
                            <button class="btn btn-outline-dark btn-sm ms-3" @onclick="@(()=>EditWorkTitle(experience))">
                                <Icon Name="IconName.Edit" />
                            </button>
                        </h5>

                    }
                    <!--CompanyName-->
                    @if (experience.IsEditingCompanyName)
                    {
                        <div class="d-flex">
                            <input type="text" class="fw-bold" @bind-value=@experience.company_name>
                            <button class="btn btn-outline-dark btn-sm ms-3" @onclick="@(()=>SaveCompanyName(experience))"><Icon Name="IconName.Save" /></button>
                        </div>
                    }
                    else
                    {
                        <h6 class="fw-bold">@experience.company_name
                            <button class="btn btn-outline-dark btn-sm ms-3" @onclick="@(()=>EditCompanyName(experience))">
                                <Icon Name="IconName.Edit" />
                            </button>
                        </h6>
                    }
                    <!--ExperienceDesc-->
                    @if (experience.IsEditingExperienceDesc)
                    {
                        <div class="d-flex mb-1">
                            <div class="vr me-1"></div>
                            <textarea @bind="@experience.project_details" ></textarea>
                            <button class="btn btn-outline-dark btn-sm ms-3" @onclick="@(()=>SaveExperienceDesc(experience))" style="max-height:31px"><Icon Name="IconName.Save" /></button>

                        </div>
                    }
                    else
                    {
                        <div class="d-flex mb-1">
                            <div class="vr me-1"></div>
                            <p>@experience.project_details</p>
                            <button class="btn btn-outline-dark btn-sm ms-3" @onclick="@(()=>EditExperienceDesc(experience))" style="max-height:31px">
                                <Icon Name="IconName.Edit" />
                            </button>
                        </div>
                    }
                    <!--Steps-->
                    @foreach (var step in experience.ProjectSteps)
                    {
                        @if (step.IsEditingStep)
                        {
                            <div class="d-flex mb-1">
                                <div class="vr me-1"></div>
                                <textarea type="text" @bind=@step.step/>
                                <button class="btn btn-outline-dark btn-sm ms-3" @onclick="@(()=>SaveProjectStep(step))" style="max-height:31px"><Icon Name="IconName.Save" /></button>

                            </div>
                        }
                        else
                        {
                            <div class="d-flex mb-1">
                                <div class="vr me-1"></div>
                                <p>@step.step</p>
                                <button class="btn btn-outline-dark btn-sm ms-3 me-3" @onclick="@(()=>EditProjectStep(step))" style="max-height:31px">
                                    <Icon Name="IconName.Edit" />
                                </button>
                                <button class="btn btn-outline-danger " @onclick="@(()=>RemoveStep(experience,step))" style="max-height:31px"> <Icon Name="IconName.Delete" /></button>

                            </div>
                        }
                       
                    }
                    <button class="btn btn-outline-warning " @onclick="@(()=>AddStepToExperience(experience))"> <Icon Name="IconName.Add" /> Add another step</button>

                }
            </div>
            <!--Delete experience-->
            <button class="btn btn-outline-danger btn-sm ms-3" style="max-height:31px" @onclick=@(()=>RemoveExperience(ex))><Icon Name="@("fa-solid fa-delete-left")" /></button>


        </div>
    }

    <button class="btn btn-outline-dark w-50" @onclick="AddExperience"> <Icon Name="IconName.Add" /> Add an experience</button>

</div>
